.idea
.ipynb_checkpoints
.mypy_cache
.vscode
pycache
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
.env
docs_build
venv
docs.zip
archive.zip
../.idea
__pycache__
../.idea/workspace.xml
__pycache__/main.cpython-310.pyc
__pycache__
# vim temporary files
~
..sw?