.textfield_container{
    text-align: center;
    background-color: #1c1c1f;
    margin-top: 10%;
    margin-left: 40%;
}

.textfield_container .tf{
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: white;
}

h2{
    color: white;
    font-size: 300%;
    margin-left: 35%;
}

span{
    color: #FBCF0A;
}