
body{
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c1c1f;
    display: flex;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #b01515;
  }

  .titre{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 8em;
    margin-top: 12%;
    margin-bottom: 1%;
  }

  .MuiButton-outlined{
    display: block;
    margin : auto;
  }

  h3{
    color: white;
  }